.cont {
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

@media (width > 1800px) {
    .cont {
        margin-bottom: 15rem;
    }
}

.paramBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paramDataCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: .5rem;
}

.paramIcon {
    width: 4rem;
    height: 4rem;
}

.paramDataValue {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.paramDataTitle {
    font-size: 1rem;
}
