.cont {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.settingsBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.resultsBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
