.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.charCont {
    width: 1.2rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curChar {
    background-color: #5F75A4;
}